<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="javascripts/polymer-all/polymer/polymer.min.js"></script>
    <script src="javascripts/gplus.js"></script>

    <link rel="import" href="templates/elements/lumber-btn.html">
  </head>

  <body>
    <div id="container">
      <a href="/">lumbergrammers!</a>
      <span id="YO"></span>
      <span id="signinButton">
        <span
          class="g-signin"
          data-callback="signinCallback"
          data-clientid="394867862713.apps.googleusercontent.com"
          data-cookiepolicy="single_host_origin"
          data-requestvisibleactions="http://schemas.google.com/AddActivity"
          data-scope="https://www.googleapis.com/auth/plus.login">
        </span>
      </span>
    </div>
    <footer>
    </footer>
  </body>
</html>
