<div id="container">

  <section id ="navbar">
    <img id="avatar" src="images/avatar.jpg"></img>
    <h1 id="teamstitle">Lumberteams</h1> 
    <span id="back">Back</span>
  </section>


  <section id='chat'>
    bubble
    bubble
  </section>

  <section id="card">
    word
    taboo
    taboo
    taboo
    taboo

  </section>

</div>

<footer>
  <h3> Guess! / Taboo words</h3>
</footer>
 <!--
// Footer varies depending on team
// Guessing team sees "Guess!"
// Opposite team sees word and tabbo words
-->