<div id="container">

  <section id="navbar">
     <span id="navinfo"><img id="navatar" src="images/avatar.jpg"></img><span id="navusername">Jack Lumberson</span></span>
    <h1 id="title">Lumberlobby</h1>
    <a href="partials/lobby.html"><span id="back">Back</span></a>
  </section>

  <div id="content">
    <section id="chat" class="basic left vertcard">
      <ul>
        <li>bubble</li>
        <li>bubble</li>
      </ul>
    </section>

    <section id="card" class="basic secondary right vertcard">
      <ul>
        <li>word</li>
        <hr>
        <li>taboo</li>
        <li>taboo</li>
        <li>taboo</li>
        <li>taboo</li>
      </ul>

    </section>

    <!-- Display what the person explaining says - 
    we might not need a separate section -->
    <section id="speech" class="basic secondary right hidden">

    </section>
  </div>

  <section id="scoreboard">
    <span id="lumberscore">
      <span class="score">2</span><span class="teamlumber">Lumberjacks</span>
    </span>
    <span id="counter">
    </span>
    <span id="treescore">
      <span class="teamtree">Treehuggers</span><span class="score">4</span>
    </span>
  </section>

</div>

<footer>
  <h3> Guess! / Taboo words</h3>
</footer>
 <!--
// Footer varies depending on team
// Guessing team sees "Guess!"
// Opposite team sees word and tabbo words
-->