<div id="container">
  <section id="navbar">
    <span id="avatar"><img class="navatar" src="images/avatar.jpg"></img><span id="username">Jack Lumberson</span></span>
    <h1 id="teamstitle">Lumberteams</h1>
    <a href="/"><span id="back">Back</span></a>
  </section>
  
  <div id="content">
	  <section class="basic secondary left">
	  	<h1><a href="partials/gamescreen.html">Lumberjacks</a></h1>
	  </section>
	  <section class="basic right">
	  	<h1><a href="partials/gamescreen.html">Tree Huggers</a></h1>
	  </section>
  </div>
</div>