<div id="container">
  <section id="navbar">
    <span id="navinfo"><img class="navatar" src="images/avatar.jpg" /><span id="navusername">Jack Lumberson</span></span>
    <h1 id="title">Lumberlobby</h1>
    <a class="backBtn" href="partials/teams.html"><span id="back">Back</span></a>
  </section>

  <div id="content">
  	<section id="ready">
  		<a href="partials/gamescreen.html" class="btn readyBtn">Ready</a>
  	</section>
	  <section class="left basic secondary">
	  	<h1>Lumberjacks</h1>
	  	<span class="leftAdd">
	  	</span>
	  </section>
	  <section class="right basic">
	  	<h1>Tree Huggers</h1>
	  	<span class="rightAdd">
	  	</span>
	  </section>
  </div>
</div>