<div id="container">
      <section>
        <h1>Make A Team</h1>
        <a>Back</a>
      </section>
      <form method="post">
        <section>
          <h2>Name</h2>
          <input type="text" id="name" name="name" value="" placeholder="Jack Lumber" required autofocus />
        </section>
        <section>
          <h2>Invite fellow lumberjacks</h2>
          <div id="friends-container">
            <article>
              <input type="checkbox" />
              <img src="images/avatar.jpg" />
              <h3>Someone's Name</h3>
              <input type="checkbox" />
              <img src="images/avatar.jpg" />
              <h3>Someone's Name</h3>
              <input type="checkbox" />
              <img src="images/avatar.jpg" />
              <h3>Someone's Name</h3>
            </article>
          </div>
        </section>
        <section>
          <h2>Tree Choppers</h2>
          <img src="images/avatar.jpg" />
          <img src="images/avatar.jpg" />
          <img src="images/avatar.jpg" />
        </section>
        <section>
          <input type="submit" value="chop" id="submit-button" />
        </section>
      </form>
</div>