<div id="container">

    <div id="navbar">
      <img id="avatar" src="images/avatar.jpg"></img>
      <h1 id="teamstitle">Make A Team</h1>
      <span id="back">Back</span>
    </div>

    <div id="content">
      <form method="post">
        <section class="basic">
          <h2>Name</h2>
          <input type="text" id="name" name="name" value="" placeholder="Jack Lumber" required autofocus />
        </section>
        <section class="basic">
          <h2>Invite fellow lumberjacks</h2>
          <div id="friends-container">
            <article>
              <input type="checkbox" />
              <img src="images/avatar.jpg" />
              <h3>Someone's Name</h3>
              <br />
              <input type="checkbox" />
              <img src="images/avatar.jpg" />
              <h3>Someone's Name</h3>
              <br />
              <input type="checkbox" />
              <img src="images/avatar.jpg" />
              <h3>Someone's Name</h3>
              <br />
            </article>
          </div>
        </section>
        <section class="basic">
          <input type="submit" value="chop" id="submit-button" />
        </section>
      </form>
    </div>
</div>