<div id="container">
  <section id="navbar">
    <span id="navinfo"><img id="navatar" src="images/avatar.jpg" /><span id="navusername">Jack Lumberson</span></span>
    <h1 id="title">Lumberteams</h1>
    <a href="/"><span id="back">Back</span></a>
  </section>
  <div id="content">
	  <a href="partials/lobby.html"><section class="left leftclick basic secondary">
	  	<h1>Lumberjacks</h1>
	  </section></a>
	  <a href="partials/lobby.html"><section class="right rightclick basic">
	  	<h1>Tree Huggers</h1>
	  </section></a>
  </div>
</div>