.vertcard {
	overflow: scroll;
	padding: 10px;
	margin: 10px 0;
}

#chat {
	font-size: 1em;
	line-height: 1.2em;
	font-color: #ffffff;
	ul{
		margin: 10px 20px;
		li{
			margin: 10px 0;
		}
	}
}

#speech {
	text-shadow: none;
	overflow: scroll;
}

#card {
	overflow: visible;
    .card {
    	overflow: scroll;
	    background-color: white;
	    color: $text-shadow;
	    text-shadow: none;
	    box-shadow: 0 2px 10px black;
		line-height: 1.5em;
		text-align: center;
		font-size: 2em;
		padding: 1em;
		height: 80%;
		position: relative;
		z-index: 100;
		transition: box-shadow 0.3s;
    }
	@media only screen and (max-height: 610px) {
		font-size: 0.8em;
	}
	@media only screen and (max-height: 520px) {
		font-size: 0.6em;
	}
	@media only screen and (max-height: 440px) {
		font-size: 0.4em;
	}
	@media only screen and (max-height: 360px) {
		font-size: 0.3em;
	}
}

.bubbleitem {
	vertical-align: middle;
	.navatar {
		height: 40px;
		width: 40px;
		margin-top: 0;
		@media only screen and (max-width: 900px){
			height: 30px;
			width: 30px;
		}
		@media only screen and (max-width: 700px){
			height: 20px;
			width: 20px;
		}
	}
}

.bubble {
  left: 1em;
  top: -1em;
  position: relative;
  color: #333333;
  text-shadow: none;
  display: inline-block;
  width: 75%;
  background-color: #ffffff;
  border-radius: 1em;
  padding: 0.5em;
  box-shadow: 0 2px 0 #333333, 0px 3px 6px black;
  @media only screen and (max-width: 900px){
  	width: 70%;
  	font-size: 0.8em;
  }
  @media only screen and (max-width: 700px){
  	width: 65%;
  	font-size: 0.6em;
  }
}

#scoreboard {
	width: 100%;
	position: fixed;
	height: 50px;
	bottom: 0;
	background-color: $ter-color;
	box-shadow: 0px 1px 10px black;
	z-index: 1000;
	font-size: 1.5em;
	@media only screen and (max-width: 640px) {
		font-size: 1.2em;
	}
	.counter {
		top: 0.2em;
		position: absolute;
		width: 20%;
		left: 40%;
		text-align: center;
		padding: 0.3em;
		border-radius: 0.5em;
		background: $ter-dark;
		@media only screen and (max-width: 640px) {
			top: 0.5em;
		}
		@media only screen and (max-width: 480px) {
			top: 0.8em;
		}
	}
	#treescore {
		top: 0.5em;
		position: absolute;
		right: 3%;
		width: 37%;
		text-align: right;
		@media only screen and (max-width: 640px) {
			right: 7%;
			width: 33%;
			top: 0.8em;
		}
		@media only screen and (max-width: 480px) {
			top: 1.2em;
		}
	}
	#lumberscore {
		top: 0.5em;
		position: absolute;
		left: 3%;
		width: 37%;
		text-align: left;
		@media only screen and (max-width: 640px) {
			left: 7%;
			width: 33%;
			top: 0.8em;
		}
		@media only screen and (max-width: 480px) {
			top: 1.2em;
		}
	}
	.score {
		padding: 0.3em;
		border-radius: 0.5em;
		background: $ter-dark;
	}
	.teamlumber {
		margin-left: 0.5em;
	}
	.teamtree {
		margin-right: 0.5em;
	}
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
	z-index: 1000;
}

#timeup {
	z-index: 1001;
	width: 50%;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	p {
		text-align: center;
		font-size: 1.5em;
		margin: 0.3em 0;
	}
	.roundreport {
		padding: 0.3em;
		margin: 0.8em 0;
		border-radius: 0.5em;
		background: $ter-dark;
		span {
			display: block;
			font-size: 1.5em;
			margin: 0.3em 0;
		}
	}
	.nextuser {
		display: block;
		margin: 1em auto;
	}
	.counter {
		padding: 0.3em;
		border-radius: 0.5em;
		background: $ter-dark;
		font-size: 1.2em;
		width: 1em;
		text-align: center;
		margin: 0 auto;
	}
	@media only screen and (max-height: 600px) {
		font-size: 0.8em;
	}
	@media only screen and (max-height: 500px) {
		font-size: 0.6em;
	}
	@media only screen and (max-height: 400px) {
		font-size: 0.4em;
	}
}

