.vertcard {
	overflow: scroll;
	padding: 10px;
	margin: 10px 0;
}

#chat {
	font-size: 1em;
	line-height: 1.2em;
	font-color: #ffffff;
	ul{
		margin: 10px 20px;
		li{
			margin: 10px 0;
		}
	}
}

#speech {
	text-shadow: none;
	overflow: scroll;
}

#card {
	line-height: 1.5em;
	text-align: center;
	font-size: 2.2em;
	@media only screen and (max-height: 520px) {
		font-size: 1.4em;
		margin-top: 0.5em;
	}
}

li{
	@media only screen and (max-width: 300px){
		height: 100px;
	}
}
.bubbleitem {
	
	vertical-align: middle;
	height: 50px;
	@media only screen and (max-width: 300px){
		height: 100px;
	}
}

.bubble {
  top: -25px;
  left: 15px;
  position: relative;
  color: $text-shadow;
  text-shadow: none;

  display: inline-block;
  height: 35px;
  width: 70%;
  background-color: #ffffff;
  border-radius: 15px; 
  padding: 5px;
  box-shadow: 0 2px 0 #333333, 0px 3px 6px black;
}

#scoreboard {
	width: 100%;
	position: fixed;
	height: 50px;
	bottom: 0;
	background-color: $ter-color;
	box-shadow: 0px 1px 10px black;
	z-index: 1000;
	font-size: 1.5em;
	@media only screen and (max-width: 640px) {
		font-size: 1.2em;
	}
	#counter {
		top: 0.2em;
		position: absolute;
		width: 20%;
		left: 40%;
		text-align: center;
		padding: 0.3em;
		border-radius: 0.5em;
		background: $ter-dark;
		@media only screen and (max-width: 640px) {
			top: 0.5em;
		}
		@media only screen and (max-width: 480px) {
			top: 0.8em;
		}
	}
	#treescore {
		top: 0.5em;
		position: absolute;
		right: 3%;
		width: 37%;
		text-align: right;
		@media only screen and (max-width: 640px) {
			right: 7%;
			width: 33%;
			top: 0.8em;
		}
		@media only screen and (max-width: 480px) {
			top: 1.2em;
		}
	}
	#lumberscore {
		top: 0.5em;
		position: absolute;
		left: 3%;
		width: 37%;
		text-align: left;
		@media only screen and (max-width: 640px) {
			left: 7%;
			width: 33%;
			top: 0.8em;
		}
		@media only screen and (max-width: 480px) {
			top: 1.2em;
		}
	}
	.score {
		padding: 0.3em;
		border-radius: 0.5em;
		background: $ter-dark;
	}
	.teamlumber {
		margin-left: 0.5em;
	}
	.teamtree {
		margin-right: 0.5em;
	}
}

