.vertcard {
	height: 60%;
	overflow: scroll;
	padding: 10px;
	margin: 10px 0;
}

#chat {
	font-size: 1.8em;
	line-height: 1.2em;
	font-color: #ffffff;
	ul{
		margin: 0 20px;
		li{
			margin: 10px 0;
		}
	}
}

#card {
	line-height: 1.5em;
	text-align: center;
	font-size: 2.2em;
	@media only screen and (max-height: 520px) {
		font-size: 1.4em;
		margin-top: 0.5em;
	}
}

.bubbleitem {
	vertical-align: middle;
	height: 50px;
}

.bubble {
  top: -15px;
  left: 15px;
  position: relative;
  color: $text-shadow;
  text-shadow: none;

  display: inline-block;
  height: 35px;
  width: 80%;
  background-color: #ffffff;
  border-radius: 15px; 
  padding: 5px;
  box-shadow: 0 2px 0 #333333, 0px 3px 6px black;
}