body {
	background: url("../images/flannel.png") repeat;
}

#content {
	margin: 5% auto;
	width: 80%;
}

#colorify {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background: hsla(200, 80, 80, 0.7);
	z-index: 0;
}

.btn {
	position: relative;
	display: block;
	background: $btncolor;
	font-size: 2em;
	padding: .3em 0;
	width: 80%;
	max-width: 500px;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 3em;
	margin: 1em auto;
	box-shadow: 0 5px 0 $btnshadow, 0px 5px 6px black;
	transition: all 0.1s;
	cursor: pointer;
}

.btn:active {
	top: 4px;
	box-shadow: 0 1px 0 $btnshadow, 0 1px 3px black;
}

#load {
	display: none;
}