#logo {
	display: block;
	width: 240px;
	margin: 1em auto;
	@media only screen and (max-height: 500px) {
		width: 180px;
	}
	@media only screen and (max-height: 420px) {
		width: 120px;
	}
}

#tagline {
	text-align: center;
	font-size: 2em;
}

#maketeam, #jointeam, #help {
	display: none;
	opacity: 0;
}

.homescreen {
	margin: 0 auto !important;
}