@mixin column($side) {
	h1 {
		font-size: 1.5em;
	}
	float: $side;
	width: 43%;
}

.left {
	@include column(left);
}

.right {
	@include column(right);
}

.leftclick {
	@include clickable($sec-dark);
}

.rightclick {
	@include clickable($pri-dark);
}