@font-face {
  font-family: 'Carrosserie-Light';
  src: url('../fonts/Carrosserie-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Carrosserie-Light.woff') format('woff'),
       url('../fonts/Carrosserie-Light.ttf')  format('truetype'),
       url('../fonts/Carrosserie-Light.svg#webfont') format('svg');
}

body {
	font-family: "Carrosserie-Light";
	font-size: $fontsize;
	color: white;
	text-shadow: .18em .18em 0 $text-shadow;
	@media only screen and (max-width: 480px) {
		font-size: 12px;
	}
	@media only screen and (max-width: 360px) {
		font-size: 8px;
	}
	@media only screen and (max-height: 360px) {
		font-size: 8px;
	}
}