html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Carrosserie-Light';
  src: url("../fonts/Carrosserie-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Carrosserie-Light.woff") format("woff"), url("../fonts/Carrosserie-Light.ttf") format("truetype"), url("../fonts/Carrosserie-Light.svg#webfont") format("svg"); }

div {
  font-family: "Carrosserie-Light"; }

body {
  background: url("../images/flannel.png") repeat; }

#container {
  margin: 10% auto;
  width: 80%; }

#colorify {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(255, 0, 0, 0.3); }

a {
  position: relative;
  display: block;
  background: #CC4429;
  font-size: 2em;
  padding: .3em 0;
  width: 80%;
  max-width: 500px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 3em;
  margin: 1em auto;
  box-shadow: 0 5px 0 #99331F, 0px 5px 6px black;
  transition: all 0.1s; }

a:active {
  top: 4px;
  box-shadow: 0 1px 0 #99331F, 0 1px 3px black; }

#signinButton {
  width: 1000px; }
