html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Carrosserie-Light';
  src: url("../fonts/Carrosserie-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Carrosserie-Light.woff") format("woff"), url("../fonts/Carrosserie-Light.ttf") format("truetype"), url("../fonts/Carrosserie-Light.svg#webfont") format("svg"); }

body {
  font-family: "Carrosserie-Light";
  font-size: 16px;
  color: white;
  text-shadow: .18em .18em 0 #333333; }

body {
  background: url("../images/flannel.png") repeat; }

#content {
  margin: 50px auto;
  width: 80%;
  max-width: 960px; }

#colorify {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(163, 218, 245, 0.7);
  z-index: 0; }

.btn {
  position: relative;
  display: block;
  background: #cc4429;
  font-size: 2em;
  padding: .3em 0;
  width: 80%;
  max-width: 500px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 3em;
  margin: 1em auto;
  box-shadow: 0 5px 0 #99331f, 0px 5px 6px black;
  transition: all 0.1s;
  cursor: pointer; }

.btn:active {
  top: 4px;
  box-shadow: 0 1px 0 #99331f, 0 1px 3px black; }

#load {
  display: none; }

.basic {
  background: #cc4429;
  box-shadow: 0 5px 0 #99331f;
  padding: 1em;
  margin: 1em 0; }

#friends-container {
  overflow: scroll;
  height: 50%; }
  #friends-container img {
    height: 50px;
    margin-top: 25px; }
  #friends-container h3 {
    display: inline; }

#logo {
  width: 240px;
  margin: 1em auto; }

#tagline {
  text-align: center;
  font-size: 2em; }

#maketeam, #jointeam, #help {
  display: none;
  opacity: 0; }

.hidden {
  display: none;
  visibility: hidden; }

#container-teams {
  margin: 0 auto; }

#navbar {
  padding-top: 10px;
  font-size: 2em;
  display: inline-block;
  top: 0;
  width: 100%;
  position: fixed;
  height: 40px;
  text-align: center;
  background-color: #cc4429; }

#teamlist {
  position: absolute;
  top: 20%;
  width: 80%; }

.team {
  position: inline-block;
  background-color: #cc4429;
  box-shadow: 0 5px 0 #99331f, 0px 5px 6px black;
  margin: 15 0;
  text-align: center;
  min-height: 40px;
  height: 15%; }

#back {
  position: absolute;
  right: 5%; }

.avatar {
  width: 20%;
  left: 5%;
  position: absolute; }

.teamname {
  display: inline-block;
  width: 50%; }

.join {
  width: 30%; }

#teamstitle {
  display: inline-block; }

#myteam {
  min-height: 20px;
  background-color: #203157;
  box-shadow: 0 5px 0 #101A30, 0px 5px 6px black; }

#avatar {
  position: absolute;
  left: 5%;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: gray; }
